altgraph==0.17.4
click==8.1.8
Flask==3.1.0
Flask-Cors==5.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.2.4
opencv-python==4.11.0.86
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.3
simple-steganography==1.0.5
six==1.17.0
Werkzeug==3.1.3
