altgraph==0.17.2
click==8.1.2
Flask==2.1.2
Flask-Cors==3.0.10
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
numpy==1.22.3
opencv-python==4.5.5.64
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
simple-steganography==1.0.5
six==1.16.0
Werkzeug==2.1.1
